{% if GOOGLE_ANALYTICS_TRACKING_ID and GOOGLE_ANALYTICS_TRACKING_ID.strip %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_TRACKING_ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ GOOGLE_ANALYTICS_TRACKING_ID }}');
</script>
{% endif %}
