{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action=""> {% comment %} <!-- keep test_mode GET param --> {% url 'account_signup' %}">{% endcomment %}
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary btn-lg float-right" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% if DJANGO_SSO_APP_BACKEND_SIGNUP_MUST_FILL_PROFILE %}
{% include 'account/partials/mapbox_initscript.html' %}
{% endif %}
{% endblock javascript %}
